
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.python
    container_name: web
    env_file:
      - .env
    networks:
      app_net:
        ipv4_address: 172.20.0.5
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  reverse-proxy:
    image: haproxy:latest
    container_name: reverse-proxy
    volumes:
      - ./haproxy/reverse/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "8080:8080"
    networks:
      - app_net

  ingress-proxy:
    image: nginx:latest
    container_name: ingress-proxy
    network_mode: "host"
    volumes:
      - ./nginx/ingress/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ingress/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - reverse-proxy

networks:
  app_net:
    external: true
    name: task_1_app_net

volumes:
  mysql_data:
